/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #060918, #4d5177);
  color: white;
  overflow: hidden;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Fullscreen Video Background */
.video-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -3;
}

.background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px; /* Adds rounded corners for a polished look */
  box-shadow: 0px 4px 20px rgba(165, 109, 109, 0.3);
 
}

/* Navigation Bar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 30px;
  background: #181c2b; /* Dark Greyish Blue */
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.navbar-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
}

/* Home container */
.home-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 2;
  padding: 20px;
}

/* Text Styles */
.home-title {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  font-style: italic;
  text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.5);
}

.home-subtitle {
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  text-shadow: 1px 1px 5px rgba(142, 115, 219, 0.5);
  margin-bottom: 30px;
}

/* Button Container */
.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* Buttons */
.button {
  padding: 12px 30px;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.3);
}

.signin-button {
  background-color: rgb(19, 8, 54);
  color: white;
}

.signup-button {
  background-color: rgb(114, 146, 174);
  color: black;
}
